SERVER_HOST=127.0.0.1
SERVER_PORT=3050
SERVER_SHUTDOWN_TIMEOUT=300
DOMAIN_NAME=
DB_LINK=postgres://DBUSER:DBPASS@localhost:5432/DBNAME

CORS_ORIGINS=["*"]
CORS_METHODS=["GET", "POST", "PUT", "DELETE"]

FILE_SERVICE_URL=

AUTH_JWT_FILESERVICE_SECRET=
AUTH_JWT_FILESERVICELINK_SECRET=

AUTH_JWT_FILESERVICE_LIFETIME=900000
AUTH_JWT_FILESERVICELINK_LIFETIME=259200000

# File-service
FILETYPE_REGEXP=/(jpg|jpeg|png|gif|webp|pdf|docx|rtf|xlsx|sig)$/
FILETYPE=jpg|jpeg|png|gif|webp|pdf|docx|rtf|xlsx|sig

# Debug
DEBUG=true